<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="ci.technchange.prestationscmu">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.READ_PRIVILEGED_PHONE_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.GET_INSTALLED_PACKAGES" />
    <uses-permission android:name="android.permission.QUERY_ALL_PACKAGES" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_BACKGROUND_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_BACKGROUND_LOCATION" />
    <uses-permission android:name="android.permission.SEND_SMS" />
    <uses-permission android:name="android.permission.USE_BIOMETRIC" />
    <uses-permission android:name="android.permission.USE_FINGERPRINT" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />

    <uses-feature android:name="android.hardware.camera" />
    <uses-feature
        android:name="android.hardware.fingerprint"
        android:required="false" />

    <application
        android:name=".core.GlobalClass"
        android:allowBackup="true"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/logoprestacmu"
        android:label="@string/app_name"
        android:networkSecurityConfig="@xml/network_security_config"
        android:roundIcon="@drawable/logoprestacmu"
        android:supportsRtl="true"
        android:theme="@style/Theme.PrestationsCMU"
        tools:targetApi="31">
        <activity
            android:name=".views.ProfileEditActivity"
            android:windowSoftInputMode="adjustResize"
            android:exported="false" />
        <activity
            android:name=".views.CameraEtablissementActivity"
            android:exported="false" />
        <activity
            android:name=".views.RegisterCenterActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".views.ReminderActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".views.OnboardingActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".views.LoginFingerprintActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".views.verifyFingerprint"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".views.SelfieActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".views.InscriptionStepperActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".views.ConnexionActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".views.RecupererEmpreinteMainActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".views.InscriptionActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".views.ChoixEtablissementActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".views.SelectCodeActeAffectionActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <!--
<activity
            android:name=".views.SynchroActivity"
            android:exported="false" />
        -->
        <activity
            android:name=".views.FseVersioOldActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".views.ScannerFseActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".views.PreviewActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".views.CropActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".views.CameraActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".views.ScanFspActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".views.FseHospitalisationActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".views.ChoixPrestationActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".views.FseFiniliastionSoinsAmbulatoire"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".views.RecapPreinscriptionActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".views.photoPreinscriptionActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".views.PreinscriptionUrgentActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".views.FseEditActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".views.ListeFseActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".views.FormulaireEtablissementActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".views.CameraActivity2"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".views.ScanqrCodeActivity"
            android:exported="false"
            android:label="Scan QR Code"
            android:screenOrientation="portrait" />
        <activity
            android:name=".views.MainActivity"
            android:exported="false"
            android:label="@string/title_activity_accueil"
            android:screenOrientation="portrait" />
        <activity
            android:name=".views.EnrollmentVerificationFingerActivity"
            android:exported="false"
            android:label="@string/title_activity_accueil"
            android:screenOrientation="portrait" />
        <activity
            android:name=".views.EnrollmentActivity"
            android:exported="false"
            android:label="@string/title_activity_accueil"
            android:screenOrientation="portrait" />
        <activity
            android:name=".views.SplashscreenActivity"
            android:exported="true"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".printing.generatePdfForFSE"
            android:exported="true">
            <intent-filter>

                <!--
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
                -->
                <category android:name="android.intent.category.DEFAULT" />

                <action android:name="ci.technchange.FSEPDF_RECEIVE_DATA" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity> <!-- Déclaration du service de téléchargement -->
        <activity
            android:name=".views.SearchEnroleActivity"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".views.NumSecuSaisieActivity"
            android:exported="true"
            android:screenOrientation="portrait" />

        <service
            android:name=".core.DownloadService"
            android:foregroundServiceType="dataSync"
            android:permission="android.permission.FOREGROUND_SERVICE" />
        <service
            android:name=".utils.LocationService"
            android:enabled="true"
            android:exported="false"
            android:foregroundServiceType="location" />

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="ci.technchange.prestationscmuym.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>
    </application>

</manifest>